body {
  margin: 0;
  font-family: Helvetica, Arial;
  background: #f5f5f5;
  color: #111;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 25px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background: white;
  width: 230px;
  margin: 12px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#checkout {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
